/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Ejercicio 1 */
.flex-container {
    display: flex;
    justify-content:space-between;
}

.flex-item {
    background-color: #3498db;
    color: white;
    padding: 15px;
    width: 100px;
    text-align: center;
}