/* Estilo general */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Ejercicio 2 */

.flex-container {
  display: flex;
  flex-direction: column-reverse;
}

.flex-item {
  padding: 15px;
  margin: 20px;
  text-align: center;
  color: white;
}

.red{
    background-color: red;
}

.green{
background-color: green;
}

.blue{
background-color: blue;
}

