* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: #121212;
    /* fondo oscuro, serio */
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #e74c3c;
    /* rojo de alerta */
    margin-bottom: 0.5em;
}

p,
li,
time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.header {
    display: flex;
    /* Usamos flex para alinear h1 y nav */
    justify-content: space-between;
    /* h1 a la izquierda, menú a la derecha */
    align-items: center;
    /* Centrar verticalmente */
    background-color: #1f1f1f;
    /* Color de fondo del header */
    color: white;
    border-bottom: 3px solid #e74c3c;
}

.menuNavegacion {
    list-style: none;
    /* Quitar los puntos */
    display: flex;
    /* Hsacer los li en fila */
    gap: 20px;
    /* Separación entre los items */
}

.menuNavegacion li a {
    text-decoration: none;
    /* Quitar subrayado */
    color: white;
    display: block;
    /* Todo el recuadro es clicable */
    padding: 8px 12px;
    border-radius: 5px;
}
.menuNavegacion li a:hover{
    background-color: brown;
}

.hero{
height: 150px;
}
.hero{
    display: flex;
  flex-direction: column;
  justify-content: center; /* eje vertical */
  align-items: center;     /* eje horizontal */
  text-align: center;
  background-image: url("../img/antipirateria2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

    .hero h2{
        font-size: 3rem;        /* grande → protagonista */
  font-weight: 700;
  margin-bottom: 1rem;
  color: #e74c3c;         /* rojo de alerta */
  text-transform: uppercase;
    }

    .hero p{
        font-size: 1.2rem;
  max-width: 600px;       /* no muy largo */
  margin-bottom: 2rem;
  color: #f2f2f2;
    }
    
    .hero button {
  background-color: #e74c3c;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background-color: #c0392b;   /* cambio visual */
  transform: scale(1.05);      /* transformación */
}